/* component/Group.css */
/* .group {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
  }
  
  .group-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .delete-button {
    margin-right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    color: #d9534f;
  }
  
  .group-title {
    margin: 0 10px 0 0;
    flex-shrink: 0;
  }
  
  .group-controls {
    display: flex;
    align-items: center;
    flex-grow: 1;
  }
  
  .group-label {
    margin-right: 10px;
    display: flex;
    align-items: center;
  }
  
  .group-input {
    width: 50px;
    margin-left: 5px;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 3px;
  }
  
  .group-arrow {
    margin: 0 10px;
  }
  
  .statuses {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px;
    background-color: #fff;
  }
  
  .status-item {
    margin: 2px;
    padding: 2px 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #f1f1f1;
  }
   */


   /* component/Group.css */
.group {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
  }
  
  .group-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .delete-button {
    margin-right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    color: #d9534f;
  }
  
  .group-title {
    margin: 0 10px 0 0;
    flex-shrink: 0;
  }
  
  .group-controls {
    display: flex;
    align-items: center;
    flex-grow: 1;
  }
  
  .group-label {
    margin-right: 10px;
    display: flex;
    align-items: center;
  }
  
  .group-input {
    width: 50px;
    margin-left: 5px;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 3px;
  }
  
  .group-arrow {
    margin: 0 10px;
  }
  
  .statuses {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px;
    background-color: #fff;
  }
  
  .status-item {
    margin: 2px;
    padding: 2px 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #f1f1f1;
  }
  